main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 4em;
    margin-bottom: 4em;
    margin:4em;
}

aside{
    background-color: #B17457;
    color: #242222;
    padding: 2.5em;
    margin-right: 1.5em;
}

label{
    color:#FAF7F0;
}

aside section{
    display:flex;
    flex-direction: column;
}

select{
    max-width: 180px;
}

#products{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    color: #242222;
}

#products a{
    color:#242222;
    text-decoration: none;
}

#products a:hover{
    color:#B17457
}

#products section{
    display:flex;
    flex-direction: column;
    background-color: #FAF7F0;
    padding: 1em;
    margin: 0 1.5em 3em 1.5em;
    height: 300px;
    text-align: center;
}

#products section h4{
    margin-top: 5px;
    margin-bottom: 14px;
}

#products section p{
    margin-bottom: 0px;
}

#products section div{
    height: 200px;
    
}

#products section div img{
    width: 100%;
    height: 100%;
    object-fit: contain;

      
}
/*https://www.w3schools.com/howto/howto_css_dropdown.asp*/